{%extends "layout.html"%}
{%block content%}

<div class="page-container">
    <div class="page">
        <p class="following-page"><a href="{{ url_for('home') }}">Home</a> > Portfolio</p>
    </div>
    <div class="portfolio-container">
    <div class="inner-width">
        <h1 class="portfolio_photos">Flyers and Posters</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/1-12_big.jpg" class="image">
                <img src="../static/images/1-12_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/1-11_big.jpg" class="image">
                <img src="../static/images/1-11_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/1-10_big.jpg" class="image">
                <img src="../static/images/1-10_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/1-9_big.jpg" class="image">
                <img src="../static/images/1-9_small.jpg" alt="Photo_04">
            </a>
            <a href="../static/images/1-5_big.jpg" class="image">
                <img src="../static/images/1-5_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/1-6_big.jpg" class="image">
                <img src="../static/images/1-6_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/1-7_big.jpg" class="image">
                <img src="../static/images/1-7_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/1-8_big.jpg" class="image">
                <img src="../static/images/1-8_small.jpg" alt="Photo_08">
            </a>
             <a href="../static/images/1-1_big.jpg" class="image">
                <img src="../static/images/1-1_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/1-2_big.jpg" class="image">
                <img src="../static/images/1-2_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/1-3_big.jpg" class="image">
                <img src="../static/images/1-3_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/1-4_big.jpg" class="image">
                <img src="../static/images/1-4_small.jpg" alt="Photo_08">
            </a>
        </div>
        <h1 class="portfolio_photos">Certificates, Labels and Banners</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/2-1_big.jpg" class="image">
                <img src="../static/images/2-1_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/2-4_big.jpg" class="image">
                <img src="../static/images/2-4_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/2-2_big.jpg" class="image">
                <img src="../static/images/2-2_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/2-3_big.jpg" class="image">
                <img src="../static/images/2-3_small.jpg" alt="Photo_08">
            </a>
        </div>
        <h1 class="portfolio_photos">Brand, Forms, Tickets and Postcards</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/2-5_big.jpg" class="image">
                <img src="../static/images/2-5_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/2-6_big.jpg" class="image">
                <img src="../static/images/2-6_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/2-7_big.jpg" class="image">
                <img src="../static/images/2-7_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/2-8_big.jpg" class="image">
                <img src="../static/images/2-8_small.jpg" alt="Photo_04">
            </a>
        </div>
        <h1 class="portfolio_photos">Business cards</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/4-4_big.jpg" class="image">
                <img src="../static/images/4-4_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/4-3_big.jpg" class="image">
                <img src="../static/images/4-3_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/4-2_big.jpg" class="image">
                <img src="../static/images/4-2_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/4-1_big.jpg" class="image">
                <img src="../static/images/4-1_small.jpg" alt="Photo_04">
            </a>
        </div>
        <h1 class="portfolio_photos">Package</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/6-4_big.jpg" class="image">
                <img src="../static/images/6-4_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/6-3_big.jpg" class="image">
                <img src="../static/images/6-3_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/6-2_big.jpg" class="image">
                <img src="../static/images/6-2_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/6-1_big.jpg" class="image">
                <img src="../static/images/6-1_small.jpg" alt="Photo_04">
            </a>
        </div>
        <h1 class="portfolio_photos">Photoshop</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/3-21_big.jpg" class="image">
                <img src="../static/images/3-21_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/3-17_big.jpg" class="image">
                <img src="../static/images/3-17_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/3-18_big.jpg" class="image">
                <img src="../static/images/3-18_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/3-19_big.jpg" class="image">
                <img src="../static/images/3-19_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/3-20_big.jpg" class="image">
                <img src="../static/images/3-20_small.jpg" alt="Photo_08">
            </a>
             <a href="../static/images/3-13_big.jpg" class="image">
                <img src="../static/images/3-13_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/3-14_big.jpg" class="image">
                <img src="../static/images/3-14_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/3-15_big.jpg" class="image">
                <img src="../static/images/3-15_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/3-16_big.jpg" class="image">
                <img src="../static/images/3-16_small.jpg" alt="Photo_08">
            </a>
            <a href="../static/images/3-12_big.jpg" class="image">
                <img src="../static/images/3-12_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/3-11_big.jpg" class="image">
                <img src="../static/images/3-11_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/3-10_big.jpg" class="image">
                <img src="../static/images/3-10_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/3-9_big.jpg" class="image">
                <img src="../static/images/3-9_small.jpg" alt="Photo_04">
            </a>
            <a href="../static/images/3-5_big.jpg" class="image">
                <img src="../static/images/3-5_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/3-6_big.jpg" class="image">
                <img src="../static/images/3-6_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/3-7_big.jpg" class="image">
                <img src="../static/images/3-7_small.jpg" alt="Photo_07">
            </a>
             <a href="../static/images/3-1_big.jpg" class="image">
                <img src="../static/images/3-1_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/3-2_big.jpg" class="image">
                <img src="../static/images/3-2_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/3-3_big.jpg" class="image">
                <img src="../static/images/3-3_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/3-4_big.jpg" class="image">
                <img src="../static/images/3-4_small.jpg" alt="Photo_08">
            </a>
        </div>
        <h1 class="portfolio_photos">Furniture</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/7-8_big.jpg" class="image">
                <img src="../static/images/7-8_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/7-7_big.jpg" class="image">
                <img src="../static/images/7-7_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/7-6_big.jpg" class="image">
                <img src="../static/images/7-6_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/7-5_big.jpg" class="image">
                <img src="../static/images/7-5_small.jpg" alt="Photo_04">
            </a>
            <a href="../static/images/7-4_big.jpg" class="image">
                <img src="../static/images/7-4_small.jpg" alt="Photo_05">
            </a>
            <a href="../static/images/7-3_big.jpg" class="image">
                <img src="../static/images/7-3_small.jpg" alt="Photo_06">
            </a>
            <a href="../static/images/7-2_big.jpg" class="image">
                <img src="../static/images/7-2_small.jpg" alt="Photo_07">
            </a>
            <a href="../static/images/7-1_big.jpg" class="image">
                <img src="../static/images/7-1_small.jpg" alt="Photo_08">
            </a>
        </div>
        <h1 class="portfolio_photos">Other</h1>
        <div class="border"></div>
        <div class="gallery">
            <a href="../static/images/5-4_big.jpg" class="image">
                <img src="../static/images/5-4_small.jpg" alt="Photo_01">
            </a>
            <a href="../static/images/5-3_big.jpg" class="image">
                <img src="../static/images/5-3_small.jpg" alt="Photo_02">
            </a>
            <a href="../static/images/5-2_big.jpg" class="image">
                <img src="../static/images/5-2_small.jpg" alt="Photo_03">
            </a>
            <a href="../static/images/5-1_big.jpg" class="image">
                <img src="../static/images/5-1_small.jpg" alt="Photo_04">
            </a>
        </div>
        <h1 class="portfolio_photos">Thank you</h1>
        <div class="separator"></div>
    </div>
    </div>
</div>

{%endblock%}